* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Nav bar styling */

nav {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 10;
}

/* company logo */

/* 
STYLING FALLS HERE
*/

.navbar-items {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin: auto 1rem;
    padding: 0.5rem 0.8rem;
    border: 0.1rem solid black;
    transition: 0.8s ease-out;
}

.navbar-item > a {
    text-decoration: none;
    color: black;
}

.navbar-item:hover {
    border: 0.1rem solid rgb(255, 3, 255);
    background: rgb(255, 3, 255);
}

/* Loader */

.loader {
    background: linear-gradient(purple, rgb(255, 3, 255));
    height: 100vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}
h1 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 span:nth-child(1) {
    display: flex;
    position: relative;
    font-size: 3rem;
    animation: animate 3s alternate infinite 0.5s;
}

@keyframes animate {
    100% {
        transform: translateY(-100%);
    }
}

h1 span:nth-child(2) {
    display: flex;
    position: relative;
    font-size: 3rem;
    animation: animate1 3s alternate infinite 0.8s;
}

@keyframes animate1 {
    100% {
        transform: translateY(-90%);
    }
}

h1 span:nth-child(3) {
    display: flex;
    position: relative;
    font-size: 3rem;
    animation: animate2 3s alternate infinite 1.1s;
}

@keyframes animate2 {
    100% {
        transform: translateY(-80%);
    }
}

h1 span:nth-child(4) {
    display: flex;
    position: relative;
    font-size: 3rem;

    animation: animate3 3s alternate infinite 1.4s;
}

@keyframes animate3 {
    100% {
        transform: translateY(-70%);
    }
}

h1 span:nth-child(5) {
    display: flex;
    position: relative;
    font-size: 3rem;
    animation: animate4 3s alternate infinite 1.7s;
}

@keyframes animate4 {
    100% {
        transform: translateY(-60%);
    }
}

h1 span:nth-child(6) {
    display: flex;
    position: relative;
    font-size: 3rem;
    animation: animate5 3s alternate infinite 2s;
}

@keyframes animate5 {
    100% {
        transform: translateY(-50%);
    }
}

/* Vertical navbar */

.company-logo {
    margin-left: 1rem;
}

.company-logo img {
    height: 5rem;
    width: 8rem;
}

.navbar-vertical {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.8s ease-in-out;
    background: linear-gradient(purple, rgb(255, 3, 255));
    width: 15rem;
    height: 100vh;
}

/* animation width: width: 4.5%; */

.navbar-vertical-items {
    padding-top: 7rem;
    padding-inline-start: 0rem;
    list-style: none;
    position: relative;
    overflow: hidden;
}

.navbar-vertical-item {
    margin: 2rem 1rem;
}

.navbar-vertical-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar-vertical-item a img {
    height: 2.5rem;
    width: 2.5rem;
}

.navbar-vertical-item a span {
    margin-left: 1rem;
    transition: 0.5s ease-in-out;
}

.navbar-vertical-item a span:hover {
    color: black;
}

.navbar-contacts {
    display: flex;
    list-style: none;
    margin-left: 0.5rem;
}

.navbar-contacts li {
    padding: 0.1rem;
}

.navbar-contacts li a img {
    height: 2rem;
    width: 2rem;
}

img.icon {
    height: 2rem;
    width: 2rem;
}

.navbar-adjust {
    background: linear-gradient(purple, rgb(255, 3, 255));
    border: 0.05rem solid black;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 93%;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.navbar-adjust span {
    position: absolute;
    left: 25%;
    height: 0.2rem;
    width: 1rem;
    border-radius: 1rem;
    background: black;
    transition: 0.8s ease-in-out;
}

.navbar-adjust span:nth-child(1) {
    margin-top: 0.7rem;
    transform: rotate(25deg);
}

.navbar-adjust span:nth-child(2) {
    margin-top: 1.1rem;
    transform: rotate(155deg);
}

/* transform inside */
/* 
transform: rotate(-25deg);

transform: rotate(25deg);
 */

#notification {
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    background: white;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    z-index: 10;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

#notification::before {
    content: "";
    position: absolute;
    background: rgb(70, 255, 70);
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    border-radius: 0.5rem;
}
#notification p:nth-child(1) {
    margin: 1rem 0rem;
    font-weight: 700;
}

@keyframes slide-left {
    0%,
    100% {
        transform: translate3d(100%, 0, 0);
    }

    10%,
    90% {
        transform: translate3d(-2rem, 0, 0);
    }
}

#notification {
    transform: translate3d(100%, 0, 0);
    animation: slide-left 5s 0.2s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

form.logout button {
    background-color: transparent;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

li#logout:hover button.logout-btn {
    color: white;
}

#count {
    background: crimson;
    padding: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 0.8rem;
}

#count:hover {
    color: white;
}

#notification {
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    background: white;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    z-index: 100000;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

#notification::before {
    content: "";
    position: absolute;
    background: rgb(70, 255, 70);
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    border-radius: 0.5rem;
}
#notification p:nth-child(1) {
    margin: 1rem 0rem;
    font-weight: 700;
}

@keyframes slide-left {
    0%,
    100% {
        transform: translate3d(100%, 0, 0);
    }

    10%,
    90% {
        transform: translate3d(-2rem, 0, 0);
    }
}

#notification {
    transform: translate3d(100%, 0, 0);
    animation: slide-left 5s 0.2s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
